{% extends 'base.html.twig' %}
{% block title %} FP Emplea - Mi perfil {% endblock %}
{% block body %}
    {% if app.user.done == 0 %}
        <div class="container no-profile">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>
                    Creación de perfil básico
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        {{ form_start(form, {'attr': {'id': 'school_create'}}) }}
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            {{ form_row(form.cif, { 'attr': {'class': 'form-control disabled', 'readonly':''} }) }}
                            {{ form_row(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                            {# {{ form_row(form.imagen, { 'attr': {'class': 'form-control-file', 'required': 'required'} }) }} #}
                            {# {{ form_row(form.familiaprof, { 'attr': {'class': 'form-control chosen-select'} }) }} #}
                            {# {{ form_row(form.subfamiliaprof, { 'attr': {'class': 'form-control chosen-select'} }) }} #}
                            {{ form_row(form.web, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            {{ form_row(form.telefono, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_row(form.direccion, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_row(form.cp, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_row(form.localidad, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_row(form.pais, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_row(form.fechacreacion, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_row(form._token) }}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <hr>
                            <p>
                                <input type="submit" class="button cta-1" value="Dar de alta"/>
                            </p>
                            <hr>
                        </div>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-profile">
            <p>¡Ya tienes un perfil de centro!</p>
        </div>
    {% endif %}
{% endblock %}