{% extends 'base.html.twig' %}
{% block body %}
	{% if (app.user.done == 0) and (is_granted('ROLE_STUDENT')) %}
		<section id="wizard">
			<h3>Crea tu perfil</h3>
			<div class="wizard">
				<div class="tab-content">
					{{ form_start(form, {'attr': {'id': 'applicant_create'}}) }}
					<div class="form-group clearfix">
						<div class="col-md-6">
							{{ form_row(form.nombre, { 'attr': {'class': 'form-control'} }) }}
							{{ form_row(form.apellidos, { 'attr': {'class': 'form-control'} }) }}
							{{ form_row(form.fechanacimiento, { 'attr': {'class': 'form-control datepicker'} }) }}
							{# {{ form_row(form.dni, { 'attr': {'class': 'form-control'} }) }} #}
							{{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
							{{ form_row(form.telefonouno, { 'attr': {'class': 'form-control'} }) }}
							{{ form_row(form.telefonodos, { 'attr': {'class': 'form-control'} }) }}
						</div>
						<div class="col-md-6">
							{{ form_row(form.direccion, { 'attr': {'class': 'form-control'} }) }}
							{{ form_row(form.cp, { 'attr': {'class': 'form-control'} }) }}
							{{ form_row(form.localidad, { 'attr': {'class': 'form-control'} }) }}
							{{ form_row(form.pais, { 'attr': {'class': 'form-control'} }) }}
							{{ form_row(form.intereses, { 'attr': {'class': 'form-control'} }) }}
						</div>
						<div class="col-md-12 sepline">
							<br>
							{{ form_row(form.diponibilidad, { 'attr': {'class': 'form-control datepicker'} }) }}
							{{ form_row(form.fexibilidadgeografica, { 'attr': {'class': ''} }) }}
							{{ form_row(form.cvtxt, { 'attr': {'class': 'form-control'} }) }}
							{#}{{ form_row(form.cvpdf, { 'attr': {'class': 'form-control-file'} }) }}{#}
							{# {{ form_row(form.imagen, { 'attr': {'class': 'form-control-file', 'required': 'required'} }) }} #}
							<input type="submit" class="button cta-2" value="Dar de alta"/>
							<a href="{{ path('homepage') }}" class="button cta-3">Cancelar</a>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}