{# app/Resources/views/Alerts/registration.html.twig #}
{% if alert is defined and alert.userid.securityToken == app.user.securityToken %}
	<h3>Hola {{ user }}, lo sentimos pero...</h3>
	<p>La empresa {{ company }} ha rechazado tu candidatura para la oferta:<p>
	<h2>{{ offer.title }}</h2>
	<p>¡Ánimo, y a seguir intentándolo!</p>
	<p><a href="{{ path('profile', {'idUser':app.user.id})}}#alerts">Volver</a><p>
{% else %}
	<h1>Permiso denegado</h1>
	<p><a href="{{ path('profile', {'idUser':app.user.id})}}#alerts">Volver</a><p>
{% endif %}
	