<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
    <h3>
        Competencias profesionales:
        <hr>
    </h3>
    {% if skills|length == 0 %}
    <p class="technical-skill-empty>
        <i class="disabled">Aún no has añadido ninguna ciompetencia profesional</i>
    </p>
    <div class="clearfix skill-list"></div>
    {% else %}
        <div class="clearfix technical-skill-list skill-list">
        {% for s in skills  %}
            {% if s.skill is not null %}
                {% if s.skill.skillcategory.id == 1 %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 skill{{s.id}}{{app.user.id}}">
                    <span>
                        <i class="fa fa-gear" aria-hidden="true"></i>
                        {{s.skill.skill}} 
                    </span>
                    <button class="nobutton pull-right" onclick="applicantSkillDelete({{s.id}}, {{app.user.id}}, '{{ path('applicant_delete_skill', {'id':s.id, 'idUser':app.user.id}) }}')">
                            <i class="fa fa-close"></i>
                    </button>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}

    <h3>
        Competencias personales:
        <hr>
    </h3>
    {% if skills|length == 0 %}
    <p class="personal-skill-empty">
        <i class="disabled">Aún no has añadido ninguna ciompetencia personal</i>
    </p>
    {% else %}
    <div class="clearfix personal-skill-list skill-list">
        {% for s in skills  %}
            {% if s.skill is not null %}
                {% if s.skill.skillcategory.id == 2 %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 skill{{s.id}}{{app.user.id}}">
                    <span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        {{s.skill.skill}} 
                    </span>
                    <button class="nobutton pull-right" onclick="applicantSkillDelete({{s.id}}, {{app.user.id}}, '{{ path('applicant_delete_skill', {'id':s.id, 'idUser':app.user.id}) }}')">
                            <i class="fa fa-close"></i>
                    </button>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    

    <h3>
        Competencias comunes:
        <hr>
    </h3>
    {% if skills|length == 0 %}
    <p class="common-skill-empty">
        <i class="disabled">Aún no has añadido ninguna ciompetencia personal</i>
    </p>
    {% else %}
    <div class="clearfix common-skill-list skill-list">
    {% for s in skills  %}
            {% if s.skill is not null %}
                {% if s.skill.skillcategory.id == 3 %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 skill{{s.id}}{{app.user.id}}">
                    <span>
                        <i class="fa fa-star i-col" aria-hidden="true"></i>
                        {{s.skill.skill}} 
                    </span>
                    <button class="nobutton pull-right" onclick="applicantSkillDelete({{s.id}}, {{app.user.id}}, '{{ path('applicant_delete_skill', {'id':s.id, 'idUser':app.user.id}) }}')">
                            <i class="fa fa-close"></i>
                    </button>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="clearfix skill-list-new">
    </div>
</div> 

