{% extends 'base.html.twig' %}
{% block title %} FP Emplea {% endblock %}
{% block body %}
    {% if app.request.get('_route') == 'listado_empresas' %}
        <section class="company-list">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>{{res|length}} Empresas registradas</h2>
                    <hr>
                </div>
            </div>
            {% for empresa in res %}
            <article class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item">
                    <div class="profile-image col-lg-2 col-md-3 col-sm-3 col-xs-12">
                        {% if empresa.imagen is not null %}
                            <img class="img-circle" src="{{ url('homepage') }}../uploads/profileavatar/{{ empresa.imagen }}" alt="Avatar perfil candidato">
                        {% else %}
                            <img class="img-circle" src="{{ absolute_url(asset('assets/img/png/default-user.png')) }}" alt="Avatar perfil candidato">
                        {% endif %}
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 pull-right">
                        <h3>{{ empresa.nombreempresa }}</h3>
                        <p>{{ empresa.sector }}</p>
                        <p class="descof">
                           {{empresa.description}}
                        </p>
                        <div class="contact-area clearfix">
                            <div class="buttons">
                                <a href="{{ path('publicProfile', {'idUser':empresa.idusuario.id, 'idVisitor':app.user.id}) }}">
                                    <button type="button" class="button cta-1">Ver perfil completo</button>
                                </a>
                                <button type="button" class="button cta-2" data-toggle="modal" data-target="#companyContactModal{{empresa.id}}">
                                Contactar
                                </button>
                            </div>
                            {% if (app.request.get('_route') == 'listado_empresas') or (app.request.get('_route') == 'listado_estudiantes') or (app.request.get('_route') == 'applicant_search') %} 
                            {% else %}
                            <div class="social-networks">
                                {{ render(controller('AppBundle:Default:snList',
                                    {'idUser': empresa.idusuario}
                                    ))
                                }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Modal -->
                    <div id="companyContactModal{{empresa.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Contacta con {{empresa.nombreempresa}}</h4>
                                </div>
                                <div class="modal-body">
                                    {{ render(controller('AppBundle:Default:contactMail',
                                                {'idUser': empresa.idusuario.id, 'senderId': app.user.id, 'senderMail': app.user.email }
                                            ))
                                    }}
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </article>
            <hr>
            {% endfor %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="{{ path('listado_empresas', {'page': 1, 'idUser':app.user.id}) }}">
                            &laquo;
                        </a>
                    </li>
                    {% for i in 1..pagesCount %}
                        {% if i == current %}
                            <li>
                                <a style="font-weight:600;" href="{{ path('listado_empresas', {'page': i, 'idUser':app.user.id}) }}">
                                    {{ i }}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('listado_empresas', {'page': i, 'idUser':app.user.id}) }}">
                                    {{ i }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <a href={{ path('listado_empresas', {'page': pagesCount, 'idUser':app.user.id}) }}>
                            &raquo;
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    {% elseif app.request.get('_route') == 'listado_estudiantes' %}
        <section class="applicant-list">
                <div class="row">
                    {% if is_granted('ROLE_STUDENT') %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>{{res|length}} Aspirantes registrados</h2>
                        <hr>
                    </div>
                    {% elseif is_granted('ROLE_COMPANY') or is_granted('ROLE_SCHOOL') %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>{{res|length}} Aspirantes registrados</h2>
                        <hr>
                    </div>
                    <form action="{{ url('applicant_search') }}" method="get" class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                            <p>
                                <label for="fieldOne">Tipo de búsqueda</label>
                                <select name="fieldOne" id="filterBy" class="form-control">
                                    <option value="" selected>Selecciona una opción</option>
                                    <option value="Nombre">Nombre</option>
                                    <option value="Localidad">Localidad</option>
                                    <option value="email">Email</option>
                                </select>
                            </p>
                            <p>
                                <label for="type">Término de búsqueda</label>
                                <input type="text" name="type" id="typeFilter" value="" class="form-control">
                            </p>
                            <button type="submit" class="button cta-2" value="Filtrar">
                                                <span>buscar</span>
                                                <i class="fa fa-search"></i>
                                            </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right">
                            <label for="type">Filtro por formación</label>
                            <select name="fieldTwo" id="findEducation" class="form-control chosen-select">
                                <option value="" selected>Selecciona una opción</option>
                                {% for e in education %}
                                    <option value="{{e.id}}">{{e.titulo}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                    {% endif %}
                </div>
                {% for estudiante in res %}
                <article class="row">
                    <hr>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item">
                        <div class="profile-image col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            {% if estudiante.imagen is not null %}
                                <div class="user-img" style="background-image:url({{ url('homepage') }}../uploads/profileavatar/{{ estudiante.imagen }});"></div>
                            {% else %}
                                <img class="img-circle" src="{{ absolute_url(asset('assets/img/png/default-user.png')) }}" alt="Avatar perfil candidato">
                            {% endif %}
                        </div>
                        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 pull-right">
                            <h3>{{ estudiante.nombre }} {{ estudiante.apellidos }}</h3>
                            <p>
                                Localidad: {{estudiante.localidad}}
                            </p>
                            {% if estudiante.fexibilidadgeografica == 1 %}
                                <p class="common-skills">
                                    <span>
                                        <i class="fa fa-plane i-col" aria-hidden="true"> </i>
                                        Disponibilidad para viajar
                                    </span>
                                </p>
                            {% endif %}
                            <div class="contact-area clearfix">
                                <div class="buttons">
                                    <a href="{{ path('publicProfile', {'idUser':estudiante.idusuario.id, 'idVisitor':app.user.id}) }}">
                                        <button type="button" class="button cta-1">Visitar perfil</button>
                                    </a>
                                    <button type="button" class="button cta-2" data-toggle="modal" data-target="#applicantModal{{estudiante.idusuario.id}}">
                                    Contactar
                                    </button>
                                </div>
                                {% if (app.request.get('_route') == 'listado_empresas') or (app.request.get('_route') == 'listado_estudiantes') or (app.request.get('_route') == 'applicant_search') %} 
                                {% else %}
                                <div class="social-networks">
                                    {{ render(controller('AppBundle:Default:snList',
                                        {'idUser': estudiante.idusuario}
                                        ))
                                    }}
                                </div>
                                {% endif %}
                            </div>
                            <!-- Modal -->
                            <div id="applicantModal{{estudiante.idusuario.id}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Envía un mensaje a {{estudiante.nombre}}</h4>
                                        </div>
                                        <div class="modal-body">
                                        {{app.user.email}}
                                            {{ render(controller('AppBundle:Default:contactMail',
                                            {'idUser': estudiante.idusuario.id, 'senderId': app.user.id, 'senderMail': app.user.email }
                                            ))
                                            }}
                                        </div>
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div id="" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    Modal content
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Modal Header</h4>
                                        </div>
                                        <div class="modal-body">
                                            Hola
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ path('profile', {'idUser':estudiante.id}) }}">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
                {% if res|length != 0 %}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li><a href="{{ path('listado_estudiantes', {'page': 1, 'idUser':app.user.id}) }}">&laquo;</a></li>
                        {% for i in 1..pagesCount %}
                            {% if i == current %}
                                <li>
                                    <a style="font-weight:600;" href="{{ path('listado_estudiantes', {'page': i, 'idUser':app.user.id}) }}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('listado_estudiantes', {'page': i, 'idUser':app.user.id}) }}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li>
                            <a href={{ path('listado_estudiantes', {'page': pagesCount, 'idUser':app.user.id}) }}>
                                &raquo;
                            </a>
                        </li>
                    </ul>
                </nav>
                {% endif %}
        </section>
    {% elseif app.request.get('_route') == 'listado_ofertas'%}
        <section class="offer-list">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>Ofertas registradas</h2>
                    <hr>
                </div>
                <form action="{{ url('offer_search') }}" method="get" class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                        <p>
                            <label for="type">Filtro por categorías</label>
                            <select name="type" id="findCategory" class="form-control chosen-select">
                                <option value="" selected>Selecciona una opción</option>
                                {% for e in categories %}
                                    <option value="{{e.id}}">{{e.nombre}}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p>
                            <button type="submit" class="button cta-2" value="Filtrar">
                                <span>buscar</span>
                                <i class="fa fa-search"></i>
                            </button>
                        </p>
                    </div>
                </form>
            </div>
            {% for oferta in res  if (oferta.validated == true) and (oferta.active == true) and (oferta.finished == false) %}
            <article class="row">
                <hr>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item">
                    <h3>
                        {{oferta.title}}
                    </h3>
                    <hr>
                    <p>
                        {% if oferta.idempresa %}
                            Empresa: {{oferta.idempresa}}
                        {% endif %}
                    </p>
                    <p>
                        Sector: <span>{{oferta.categoria.nombre}}</span>
                    </p>
                    <p>
                        {% if oferta.tipo.id == 1 %}
                            <span>Prácticas</span>
                        {% elseif oferta.tipo.id == 0 %}
                            <span>Empleo</span>
                        {% endif %}
                    </p>
                    <p>
                        {{ oferta.descripcion }}
                    </p>
                    {% if is_granted('ROLE_STUDENT') %}
                        <a href="{{ path('ver_mi_oferta', {'id':oferta.id, 'idUser':app.user.id}) }}">
                            <button type="button" class="button cta-1"> Ver oferta</button>
                        </a>
                    {% else %}
                        <a href="{{ path('ver_oferta', {'id':oferta.id}) }}">
                            <button type="button" class="button cta-1"> Ver oferta</button>
                        </a>
                    {% endif %}
                </div>
            </article>
            {% endfor %}
            {% if res|length != 0 %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li><a href="{{ path('listado_ofertas', {'page': 1, 'idUser':app.user.id}) }}">&laquo;</a></li>
                    {% for i in 1..pagesCount %}
                        {% if i == current %}
                            <li><a style="font-weight:600;" href="{{ path('listado_ofertas', {'page': i, 'idUser':app.user.id}) }}">{{ i }}</a></li>
                        {% else %}
                            <li><a href="{{ path('listado_ofertas', {'page': i, 'idUser':app.user.id}) }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li><a href={{ path('listado_ofertas', {'page': pagesCount, 'idUser':app.user.id}) }}>&raquo;</a></li>
                </ul>
            </nav>
            {% endif %}
        </section>
        <!--LISTADOS DE OFERTAS DE PERFIL Y CANDIDATO-->
    {% elseif app.request.get('_route') == 'mis_ofertas_empresa'%}
        <h1>
            Mis ofertas
        </h1>
        <h2>
            <a href="{{ path('homepage') }}">Volver a Inicio</a>
        </h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Tipo de oferta</th>
                    <th>Campo</th>
                    <th>Empresa</th>
                    <th>Descripción</th>
                    <th>Requisitos</th>
                    <th>Vacantes</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for oferta in ofertas %}
                    <tr>
                        {% if oferta.tipo == 1 %}
                            <td>Prácticas</td>
                        {% elseif oferta.tipo == 0 %}
                            <td>Empleo</td>
                        {% endif %}
                        <td>{{ oferta.categoria}}</td>
                        <td>{{ oferta.idempresa.nombreempresa }}</td>
                        <td>{{ oferta.descripcion }}</td>
                        <td>--</td>
                        <td>{{ oferta.vacantes }}</td>
                        <td>
                            <a href="{{ path('modificar_oferta', {'id':oferta.id}) }}">Editar</a><br>
                            <a href="{{ path('ver_oferta', {'id':oferta.id}) }}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elseif app.request.get('_route') == 'mis_ofertas_candidato'%}
        <h1>
            Mis ofertas
        </h1>
        <h2>
            <a href="{{ path('homepage') }}">Volver a Inicio</a>
        </h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Tipo de oferta</th>
                    <th>Campo</th>
                    <th>Empresa</th>
                    <th>Descripción</th>
                    <th>Requisitos</th>
                    <th>Vacantes</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for relacionOE in relacionOE %}
                    <tr>
                        {% if relacionOE.ofertasid.tipo == 1 %}
                            <td>Prácticas</td>
                        {% elseif relacionOE.ofertasid.tipo == 0 %}
                            <td>Empleo</td>
                        {% endif %}
                        <td>{{ relacionOE.ofertasid.categoria}}</td>
                        <td>{{ relacionOE.ofertasid.idempresa.nombreempresa }}</td>
                        <td>{{ relacionOE.ofertasid.descripcion }}</td>
                        <td>--</td>
                        <td>{{ relacionOE.ofertasid.vacantes }}</td>
                        <td>
                            <a href="{{ path('ver_mi_oferta', {'id':relacionOE.ofertasid.id, 'idUser':estudiante.id}) }}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!--LISTADO CURSOS CENTRO-->
    {% elseif app.request.get('_route') == 'list_education'%}
    {% endif %}
{% endblock %}