{% extends 'base.html.twig' %}
{% block title %}Mofificar oferta{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offer-edit-header">
                <h2>Editar oferta</h2>
                <hr> 
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offer-edit">
                {{ form_start(form) }}
                <div class="form-group">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                {{ form_row(form.title, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_row(form.tipo, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_row(form.categoria, { 'attr': {'class': 'form-control chosen-select'} }) }}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                {{ form_row(form.fechainicio, { 'attr': {'class': 'form-control datepicker'} }) }}
                                {{ form_row(form.fechafin, { 'attr': {'class': 'form-control datepicker'} }) }}
                                {{ form_row(form.vacancies, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                {{ form_row(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
                                {#{ form_row(form.idempresa, { 'attr': {'class': ''} }) }#}
                                {{ form_row(form._token) }}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="button cta-2">
                        Guardar
                    </button>
                    <a href="{{ path('profile', {'idUser': app.user.id}) }}#offers" class="button cta-3">Cancelar</a>
                </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}