
<div class="clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h3>Añadir cursos del centro</h3>
         <hr>
    </div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	{{ form_start(form, {'attr': {'id': 'school_education_add'}}) }}
	    {{ form_row(form.id, { 'attr': {'class': 'form-control chosen-select'} }) }}
	    {{ form_row(form._token) }}
	    <button type="submit" class="button cta-2">
	    	Guardar
	    </button>
	{{ form_end(form, {'render_rest': false}) }}
	{{form_errors(form)}}
	</div>
</div>